# Unit-1️⃣

# Identifiers

A name in python programming is called identifier.

it can be calss name or function name or module name or variable name.

eg: a=10

# Rules to Define identifiers in Python

1. The only allowed caharacters in python

    Alphabet Symbols (lower or uppercase)
    
    digits( o to 9)
    
    underscore symbol ( _ )

eg: cash=10 --> Valid

    ca$h=15 --> Invalid
    
    kloh =30 --> Valid
    
    10kh= 12 --> Invalid


2. Identifier should not start with digit.


3. Identifiers are case sensitive.


4. We can not use reserved words as 

    True=10 --> Invalid
    
    true=10 --> Valid
    
    
5. There is no length for python identifier but not recommended to use lengthy name.


6. if identifier starts with Undescore( _ ) then it is private.
    
    eg: _a=10
    
7. if identifiers starts with double Undescore( _ ) then it is Strongly private identifier.
 
    eg: __a=10
    
    
8. if identifer starts and ends with double underscore then it is language defined special name. it is also called magic methods.

    eg:__ add__

# Data types

1.Text Types: str

2.Numeric types: int ,float,complex

3.Sequence types: list ,tuple, range

4.Mapping types :dict

5.Set types : set,FrozenSet

6.boolean type : bool

7.Binary type: bytes ,byte arrray

### To find data type

In [3]:
a=10
b=10.5
print(type(a))
print(type(b))

<class 'int'>
<class 'float'>

#### Loop Example

In [90]:
for i in range(1,11):
    print("Loop",i)
print("Loop ended")

Loop 1
Loop 2
Loop 3
Loop 4
Loop 5
Loop 6
Loop 7
Loop 8
Loop 9
Loop 10
Loop ended

### Text Type: str

In [13]:
#Single line comment
''' It is multi line
    line 1
    line 2
   Comment.'''

s1="Arman"
s2="Arman's house"
s3='''Identifiers are case sensitive. 
    In python.
    Also in Java.'''
print(s1,s2,s3)

Arman Arman's house Identifiers are case sensitive.
    In python.
    Also in Java.

### Numeric Type: int ,float

In [23]:
x=1
y=35.565
z=-3625.55
a=36e1
print(type(x))
print(type(y))
print(type(z))
print(type(a)) #whenever e is used it will be considered as Float.

<class 'int'>
<class 'float'>
<class 'float'>
<class 'float'>

1. Decimal Form

In [30]:
a=1111
print(a)

1111

2.Binary Form

In [26]:
a=0B1111
#or
b=0b1111
print(a,b)

15 15

3.Octal Form

In [28]:
a=0O1111
#or
b=0o1111
print(a,b)

585 585

4. Hexa Decimal

In [31]:
a=0X1111
#or
b=0x1111
print(a,b)

4369 4369

### Base conversion

1.bin()

In [42]:
bin(15)

'0b1111'

In [41]:
bin(0o11)

'0b1001'

In [44]:
bin(0XA1)

'0b10100001'

2.oct()

In [45]:
oct(15)

'0o17'

In [46]:
oct(0b111)

'0o7'

In [47]:
oct(0XB11)

'0o5421'

3.hex()

In [48]:
hex(15)

'0xf'

In [49]:
hex(0B11)

'0x3'

In [51]:
hex(0o71)

'0x39'

### Sequence Type: List,Tuple

1.List

--> Ordered 

--> changeable

--> allow duplicates indexed

In [66]:
list1=["Apple","bananna",'cherry']
print(list1)

list2=["apple",1,2,True,False]
print(list2)

#Mutable
list1[0]='strawberry'
print(list1)

['Apple', 'bananna', 'cherry']
['apple', 1, 2, True, False]
['strawberry', 'bananna', 'cherry']

2.Tuple

--> Ordered 

--> Unchangeable

--> allow duplicates indexed

In [67]:
my_tuple=("apple","banana","cherry")
print(my_tuple)

tuple2=("abcd",3,True,False)
print(tuple2)

#Imutable
#my_tuple[0]="Strawbeery"
#print(my_tuple)

('apple', 'banana', 'cherry')
('abcd', 3, True, False)

### Mappng Type: dict

--> Ordered 

--> changeable

--> last duplicate key will be considered and it will be replaced with original key.

In [77]:
d={10:"Ben",7:"Thala",8:"wonders",1:"CR7","":"11"}

print(d)

print(d[10])

print(d[7])

print(d[8])

{10: 'Ben', 7: 'Thala', 8: 'wonders', 1: 'CR7', '': '11'}
Ben
Thala
wonders

### Set Type

--> Unordered .

--> Changeable.

--> no duplicate value allowed.

--> repeating value won't be considered.

--> In frozen set order of values cannot be changed.

In [83]:
x={1,2,3,4,5,6,9,7,2,3}
print(x)
y={'apple','banana','apple','banana'}
print(y)
list=["hi","nice","Bye"]
z=frozenset(list)
print(z)

{1, 2, 3, 4, 5, 6, 7, 9}
{'banana', 'apple'}
frozenset({'hi', 'nice', 'Bye'})

### Boolean Type: bool

In [104]:
print(bool(0))

print(bool(1))

print(bool("abc"))

print(bool("")) #empty String =False

print(bool(20>8))

print(bool(20<8))

print(bool(20==8))

False
True
True
False
True
False
False

# Key Words

In [88]:
#  True    is    for       yield    assert
#  False   if    break     try      import   
#  None    elif  Continue  except   lambda
#  from    and   else      return   finally
#  as      or    while     in       raise
#  class   not   nonlocal  def      global
#  pass    del   with

In [103]:
#Repetition

a="10 "
b=2
print(a*b)
"a "*b*(int)(6/3)

10 10

'a a a a '

# Global Variable Vs Local variable

In [5]:
a="Python"
def test():
    # print(a) it will give LocalBound Error
    a="Java"
    print(a)
test()
print(a)

Java
Python

In [6]:
a="Python"
def test():
    global a # Now it will use global variable
    a="Java"
    print(a)
test()
print(a)

Java
Java

## Reading user Input

In [1]:
x=input("Enter string: ") #By defult in String
y=int(input("Enter int: "))
z=float(input("Enter float: "))
print(x,y,z)

Enter string: Meet
Enter int: 5
Enter float: 100.2
Meet 5 100.2

#### Task

In [1]:
a=int(input("Enter first number: "))
b=int(input("Enter second number: "))
print("Sum: ",a+b)

Enter first number: 5
Enter second number: 10
Sum:  15

## Type Casting

In [9]:
print(int(123.123))
print(int(True))
print(int(False))      
print(int("10") )      
#print(int("10.5"))  ValueError    
#print(int("0B111")) ValueError

123
1
0
10

In [11]:
print(float(10))
print(float(True))
print(float(False))
print(float(0.0))
print(float("10"))
print(float("10.5"))
#print(float("ten")) ValueError    
#print(float("0B111"))ValueError

10.0
1.0
0.0
0.0
10.0
10.5

In [21]:
print(bool(0))
print(bool(1))
print(bool(10))
print(bool(10.5))
print(bool(0.178))
print(bool(0.0))
print(bool("True"))
print(bool("False"))
print(bool(""))
#if anything is there then it will show True else it will show False

False
True
True
True
True
False
True
True
False

In [35]:
print(str(10))
print(str(10.5))
print(str(True))

10
10.5
True

## Arithmethic operators

In [37]:
#  +  ---> Addition (str --> Concatenation)
#  -  ---> Subtraction 
#  *  ---> Multiplication (str --> String Multiplication or Repetiton)
#  /  ---> Division (answer will be in float)
#  %  ---> Modulus
#  // ---> Floor Division
#  ** ---> Power or Exponent

In [45]:
#### Example
a=int(input("Enter input:" ))
b=int(input("Enter input:" ))
print()
print("Addition :",a+b)
print("Substraction :",a-b)
print("Multiplication :",a*b)
print("Division:",a/b)
print("Floor Division:",a//b)
print("Modulus:",a%b)
print("Power :",a**b)

Enter input:5
Enter input:3

Addition : 8
Substraction : 2
Multiplication : 15
Division: 1.6666666666666667
Floor Division: 1
Modulus: 2
Power : 125

## Comparison or Relation operators

In [47]:
#  >   ---> Greater than
#  <   ---> Less than
#  >=  ---> Greater than or equal to
#  <=  ---> Less than or equal to
#  ==  ---> Equal to
#  !=  ---> Not Equal to

In [7]:
a=input("Enter input: ")
b=input("Enter input: ")
print()

print("a>b:",a>b)
print("a<b:",a<b)
print("a>=b:",a>b)
print("a<=b:",a<=b)
print("a==b:",a==b)
print("a!=b:",a!=b)
print()

print(True>=True)
print(10>True)
print(False>True)
print(10<20<30)
print(10<20<30>40)

Enter input: Aman
Enter input: AmAn

a>b: True
a<b: False
a>=b: True
a<=b: False
a==b: False
a!=b: True

True
True
False
True
False

## Logical Operators

### 1. Boolean Typs Behaviour

and --> if both argument are true then only result is true

or  --> if atlest one argument is true then result is true

not --> Complement

In [8]:
# Example:

print(True and False)
print(True or False)
print(not False)

False
True
True

### 1. Non-boolean Type Behaviour

 --> 0 means False
 
 --> none-zero means True
 
 --> Empty String always treated as False
 
 1. X and Y --> if X is evaluates to False then result is X otherwise result is Y

In [19]:
# example:

print(10 and 20)
print(0 and 20) 
print(0>1 and 20) 
print(1>0 and 20)
print(1>0 and 1<20)

20
0
False
20
True

2. X or Y --> if X evaluates to True then result is X otherwise result is

In [21]:
# example

print(10 or 20)
print(0 or 20) 
print(0>1 or 20) 
print(1>0 or 20)
print(1>0 or 1<20)

10
20
20
True
True

3. not X --> if X is evaluates to False then result is True else False

In [22]:
# Example

print(not 10)
print(not 0)

False
True

## Ternary Operators

Syntax :  X = first value if condition else second value

In [23]:
#example

a,b=10,20
X=30 if a<b else 40
print(X)

30

## Assignment Operator

x=20

x + =10  --> x=x+10

x - =10  --> x=x-10

x * =10  --> x=x*10

x / =10  --> x=x/10

x % =10  --> x=x%10

x ** =10 --> x=x** 10 

x // =10 --> x=x//10

## Membership Operators

in --> Returns True if given object present in Specific Collection 

not in --> Returns True if given object is not present in specific Collection

In [29]:
# example 
X= "Hello Learning Python is very easy"
print("l" in X)
print("d" in X)
print("d" not in X)
print("Python" in X)
print("python" in X) #Case sensitive

True
False
True
True
False

### Precedence

In [51]:
a=30
b=20
c=10
d=5
print((a+b)*c/d)
print((a+b)*(c/d))
print(a+(b*c)/d)

100.0
100.0
70.0

## Exercise

In [56]:
# WAP to find the Area of a Triangle.

b=int(input("Enter Breadth: "))
h=int(input("Enter Height: "))
print("Area of Triangle:",0.5*b*h)

Enter Breadth: 6
Enter Height: 4
Area of Triangle: 12.0

In [57]:
# WAP to find the Area of a Circle.

import math
r=int(input("Enter Radius: "))
print("Area of Triangle:",math.pi*r**2)

Enter Radius: 10
Area of Triangle: 314.1592653589793

In [1]:
# WAP to Convert the Farenheit to Celsius & vice versa.

f=float(input("Enter Farenheit : "))
a1=(f-32)*(5/9)
print("Answer C= ",a1)
c=float(input("Enter Celsius : "))
a2=(c*(9/5))+32
print("Answer F= ",a2)

Enter Farenheit : 98
Answer C=  36.66666666666667
Enter Celsius : 36.666666666667
Answer F=  98.0000000000006

In [1]:
# WAP to Calculate the year,mont,days from days entered.

days=int(input("Enter Days: "))
y=days//365
m=(days%365)//30
d=(days%3365)%30
print(y,m,d) 

#i=int(input("Enter Days: "))
#y=i//30
#print(y<12 or int(y/12),"year")
#m=i/12
#print(m<0 or int(m/30),"month" )
#days=m%30
#print(days<0 or int(days),"days" )

Enter Days: 366
1 0 6

### Identity Operator

In [4]:
x=5
y=5.3
z=5
print(type(x) is int)
print(type(y) is int)
print(type(y) is float)
print(x is z)
print(x is not y)

True
False
True
True
True

## Precedence Examples

In [8]:
print((5**3)**2*5/True)

78125.0

In [12]:
print("1" in "123" and "false" or True)

false

In [23]:
print(5 and False or 3/0)

ZeroDivisionError: division by zero

In [24]:
print(5 and True or 3/0)

True

In [28]:
print(7*5**2/True*False)

0.0

## Programs

In [37]:
#WAP to check given number is positive or negative using conditional Operator.

x=int(input("Enter no: "))
s="Negative" if x<0 else "Positive"
print(s)

Enter no: -5
Negative

In [39]:
#WAP to check given number is Odd or Even using conditional Operator.

x=int(input("Enter no: "))
s="Odd" if x%2!=0 else "Even"
print(s)

Enter no: 2
Even

In [43]:
#WAP to find the numbers of notes against given amount.
#available notes:10,20,50,100,200,500

amount=int(input("Enter amount: "))
n1=amount//500
n2=(amount%500)//200
n3=((amount%500)%200)//100
n4=(((amount%500)%200)%100)//50
n5=((((amount%500)%200)%100)%50)//20
n6=(((((amount%500)%200)%100)%50)%20)//10
print("Total notes:",(n1+n2+n3+n4+n5+n6))

Enter amount: 1020
Total notes: 3